{% load static %}




<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="tm-nav" id="tm-nav">
            <a class="logo d-flex justify-content-center" href="{% url 'index' %}">
                <img style="width: 2rem; height: 2rem;" src="{% static 'logo1.png' %}" alt="" srcset="">
                <!-- <p class="logo-name" style="margin: 8px 5px; font-size: 15px; color: #f7f7f7;">Gamma Prime</p> -->
            </a>
        </nav>
        <div class="tm-mb-65 d-inline-block">
            <a rel="nofollow" href="#" class="tm-social-link">
                <i class="fab fa-facebook tm-social-icon"></i>
            </a>
            <a href="#" class="tm-social-link">
                <i class="fab fa-twitter tm-social-icon"></i>
            </a>
            <a href="#" class="tm-social-link">
                <i class="fab fa-instagram tm-social-icon"></i>
            </a>
            <a href="#" class="tm-social-link">
                <i class="fab fa-linkedin tm-social-icon"></i>
            </a>
        </div>

    </div>
</header>