{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- add bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Create Blog</title>
</head>
<body>
    <!-- create new post -->
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Create</button>
                <a href="{% url 'post-list' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>