{% extends 'blog/blogs.html' %}

{% block blog-body %}
  

    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <!-- Video player 1422x800 -->
                    <video width="954" height="535" controls class="tm-mb-40">
                        <image src="{{ post.image.url }}">							  
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-12 tm-post-col">
                    <div class="tm-post-full">
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                            <p class="tm-mb-40">{{post.created_at|date:"d M Y"}} posted by <span><a href="#">{{post.author.get_full_name}}</a></span></p>
                            <p>
                              {{post.content}}
                            </p>
                            {% for tag in post_tags %}
                            <span class=" tm-color-primary">{{tag.name}}.</span>
                            {% endfor %}
                            <!-- <span class="text-danger text-center">{{tag.name}}</span> -->
                        </div>

                        <!-- Comments -->
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>
                            <hr class="tm-hr-primary tm-mb-45">

                            {% for comment in post_comment %}
                            <div class="tm-comment-reply tm-mb-45">
                                <hr>
                                <div class="tm-comment">
                                    <figure class="tm-comment-figure">
                                        <img src="{{comment.author.image.url }}" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                                        <figcaption class="tm-color-primary text-center">{{comment.author.get_full_name}}</figcaption>
                                    </figure>
                                    <p>
                                     {{comment.content}}
                                    </p>
                                </div>
                                <span class="d-block text-right tm-color-primary">{{comment.created_at}}</span>
                            </div>
                            {% endfor %}

                            <!-- <div class="tm-comment-reply tm-mb-45">
                                <hr>
                                <div class="tm-comment">
                                    <figure class="tm-comment-figure">
                                        <img src="img/comment-2.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                                        <figcaption class="tm-color-primary text-center">Janet Auka</figcaption>
                                    </                 >
                                    <p>
                                        Nunc et eros quis enim feugiat tincidunt et vitae dui. Nullam consectetur justo ac ex laoreet rhoncus. Nunc id leo pretium, faucibus sapien vel, euismod turpis.
                                    </p>
                                </div>
                                <span class="d-block text-right tm-color-primary">June 21, 2020</span>
                            </div> -->
                            <form action="" class="mb-5 tm-comment-form" method="post">
                                {% csrf_token %}
                                <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                <div class="mb-4">
                                    {{ form }}
                                    <!-- <textarea class="form-control" name="message" rows="6"></textarea> -->
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-12">
                    <div class="">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
                        {% if similar_posts %}
                            {% for similar in similar_posts %}
                            <a href="{% url 'post-detail' post.id %}" class="d-block tm-mb-40">
                                <figure>
                                    <img src="img/img-02.jpg" alt="Image" class="mb-3 img-fluid">
                                    <figcaption class="tm-color-primary">{{similar}}</figcaption>
                                </figure>
                            </a>
                            {% endfor %}
                        {% else %}
                        <h3>No Related Post</h3>
                        {% endif %}
                        <!-- <a href="#" class="d-block tm-mb-40">
                            <figure>
                                <img src="img/img-05.jpg" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">Integer quis lectus eget justo ullamcorper ullamcorper</figcaption>
                            </figure>
                        </a>
                        <a href="#" class="d-block tm-mb-40">
                            <figure>
                                <img src="img/img-06.jpg" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">Nam lobortis nunc sed faucibus commodo</figcaption>
                            </figure>
                        </a> -->
                    </div>
                </aside>
            </div>
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_blank" href="https://github.com/Vicviral" class="tm-external-link">Victor Loveday</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    &copy; Copyright <strong><span>Gamma Prime</span></strong>.
                </div>
            </footer>
        </main>
    </div>
    {% endblock blog-body %}
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>

</html>