{% load static %}

<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div>
            <a class="d-flex logo" href="{% url 'index' %}">
                <img style="width: 2rem; height: 2rem;" src="{% static 'logo1.png' %}" alt="" srcset="">
                <p style="margin: 8px 5px; font-size: 15px; color: #f7f7f7;">Gamma Prime</p>
            </a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'programming' %}">Programming</a></li>
                <li><a class="nav-link scrollto" href="{% url 'business' %}">Business</a></li>
                <li><a class="nav-link scrollto" href="{% url 'design'  %}">Design</a></li>
                <li><a class="nav-link scrollto" href="{% url 'management' %}">Management</a></li>
                {% comment %} <!-- <li><a class="nav-link scrollto" href="{% url 'premium' %}">Premium</a></li> --> {% endcomment %}



                <!-- <li><a class="nav-link scrollto " href="#blogs">Blogs</a></li> -->
                <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
                <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
            </ul>
            <i style="color: white;" class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <a href="{% url 'register' %}">
            <button class="btn btn-primary">Join</button>
        </a>
        <!-- .navbar -->

    </div>
</header>